<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.koda.mobile.sdk.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    
    <application>
        <provider
            android:name=".KodaFileProvider"
            android:authorities="${applicationId}.koda.sdk.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
    </application>
</manifest>